.about{
  max-width: 1224px;
  width: 80%;
  margin: auto;
  /* padding: 4rem 0; */
}

.about__title{
  margin-bottom: 2rem;
  /* color: rgb(95, 45, 20, .8); */
  color: white;
  text-align: center;
  font-family: Custom;
  font-size: 11rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  /* bottom: -5rem; */
}