.scroll__btn{
  fill: white;
}

.scroll__logo{
  color: white;
  
}

.scroll__logo:hover{
  color: white;
}

.scroll__logo::after{
  border: 1px solid rgba(255, 255, 255, .8);
}

.header.scrolled #nav{
  background-color: rgba(255, 255, 255, 0.5);
}

.header.scrolled .scroll__logo,
.header.scrolled .scroll__btn{
  /* color: rgb(95, 45, 20, .8);
  fill: rgb(95, 45, 20); */
  color: rgb(0, 0, 0);
  fill: black;
}

.header.scrolled .scroll__logo::after{
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header.scrolled .hamburger__btn.close{
  fill: black;
}


.about__banner{
  background: url(/images/casa-conde-cartagena-colombia-wall-and-greenery.jpg);
  background-position: 15% 100%;
  background-size: cover;
  max-width: 2624px;
  height: 94vh;
  top: 0;
  opacity: 1;
  position: relative;
}

.about__banner-text{
  color: white;
  font-family: SeaRegular;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 6px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.about__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
}

.about__main-title{
  font-family: Dream;
  font-weight: 100;
  font-size: 2.5rem;
}

.about__me{
  position: relative;
}

.about__me-div{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about__me-img{
  max-width: 360px;
  flex: 1;
  padding: 0 1rem;
  margin: 0 auto;
}

.about__me-text-div{
  /* flex: 1; */
  padding: 3rem 1rem;
  line-height: 6rem;
  background-color: #efebe7;
}

.about__me-text{
padding: 0 1rem 2rem;
}

.about__quote{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 630px;
  margin: 3rem auto;
  gap: 20px;
}

.about__quote-span{
  font-family: Dream;
  font-weight: 100;
  font-size: 18px;
}

.about__quote-text{
  padding: 0 2rem;
}

.corner__about{
  position: relative;
}

.corner__about-div{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 1.5rem;
}

.corner__about-img{
  max-width: 360px;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  /* flex: .5; */
}

.corner__about-text{
  flex: 1;
  padding: 3rem 2rem;
  line-height: 6rem;
  background-color: #efebe7;
}

.corner__about-title{
  font-family: Dream;
  font-size: 2.5rem;
  font-weight: 100;
  padding-bottom: 2.5rem;
 }

.bold{
  font-family: Dream;
  font-size: 24px;
}

.about__planning{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.about__planning-text{
  flex: 2;
  padding: 1.5rem 2rem;
  line-height: 6rem;
  background-color: #efebe7;
}

.about__planning-title{
  font-family: Dream;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0rem 0rem 0;
  position: relative;
  top: 1.5rem;
 }

 .about__planning-button{
   background-color: #dfd9b6;
   border: none;
   border-radius: 1.25rem;
   padding: .75rem 1.5rem;
   line-height: 16px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: SeaRegular;
   font-weight: 100;
 }



/* Mobile */
@media (min-width: 330px) {

  .about__banner-text{
    font-size: 3rem;
  }

  .about__main-title{
    font-size: 3rem;
  }

  .corner__about-title{
    font-size: 3rem;
   }

  .about__planning-title{
    font-size: 3rem;
   }
}

/* md mobile */
@media (min-width: 400px) {
  
  .about__me-img{
    padding: inherit;
  }

  .corner__about-img{
    padding: inherit;
  }
}

/* xs */
@media (min-width: 475px) {
  .about__banner-text{
    font-size: 3.5rem;
    width: 470px;
  }

  .about__main{
    padding: 4rem;
  }

  .about__main-title{
    font-size: 3.5rem;
  }

  .about__me-text-div{
    padding: 3rem;
  }

  .corner__about-title{
    font-size: 3.5rem;
   }

  .about__planning-title{
    font-size: 3.5rem;
   }

}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    
  .about__banner-text{
    font-size: 4.5rem;
  }

  .about__me{
    padding: 0 2rem;
  }

  .about__me-div{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #efebe7;
    gap: 0;
    margin-bottom: 2rem;
  }

  .about__me-img{
    max-width: 560px;
    flex: .75;
    padding: inherit;
    position: relative;
    margin: initial;
  }

  .about__me-text-div{
    flex: 1;
    padding: 1rem 2rem;
    line-height: 0;
  }

  .about__quote-text{
    padding: inherit;
  }

  .corner__about{
    position: relative;
    padding: 0 2rem 2rem;
  }

  .corner__about-div{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: inherit;
    margin-bottom: 2rem;
    gap: 0;
  }

  .corner__about-text {
    padding: 3rem 2rem;
}

  .corner__about-img{
    max-width: 334px;
    padding: inherit;
    position: relative;
    margin: initial;
    /* flex: .5; */
  }

}

/* Lg */
@media (min-width: 1024px) {

  .about__banner-text{
    font-size: 5.75rem;
    width: max-content;
  }

  .about__me-div{
    align-items: center;
  }

  .about__me-img{
    flex: 1.25;
  }

  .corner__about-p{
    padding: 0;
    max-width: 720px;
    margin: 0 auto;
  }

  .about__me-text{
    padding: 0 2rem 2rem;
    }
  
  .about__me-text-div{
    flex: 1.25;
    padding: 2rem 1rem 2rem;
    line-height: 0;
  }

  .corner__about-text {
    padding: 6rem 2rem 0;
}

}

/* xL */
@media (min-width: 1288px) {
  .about__me-text{
    padding: 0 8rem 2rem;
    }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */