.contact{
  max-width: 1224px;
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.contact__title{
  margin-bottom: 7rem;
  color: rgb(95, 45, 20, .8);
  text-align: center;
  font-family: Custom;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.contact__container{
  display: flex;
  gap: 6rem;
  justify-content: space-between;
}

.contact__description{
  flex: 1;
  background-image: url(/images/2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 2rem;
  border-radius: 5px;
  top: -1rem;
  /* color: rgb(95, 45, 20, .7); */
  /* isolation: isolate; */
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.contact__description::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  /* background-color:rgb(166, 97, 97); */
  opacity: .2;

}

.contact__description p{
  margin-bottom: 1.5rem;
  font-size: var(--size-sm);
}

.contact__shadow{
  position: absolute;
  left: -3.5rem;
  bottom: -3rem;
  width: 100%;
  height: 100%;
  /* background-color: rgb(163, 149, 140, .2); */
  background-color: rgb(240, 200, 180, .4);

  z-index: -4;
  border-radius: 5px;
}

.contact__mail{
  position: relative;
  /* max-width: 50px; */
  /* margin: 0 auto ; */
  flex: 1.2;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 1.5rem;
}

.contact__group{
  display: flex;
  gap: 4rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button{
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 1.25px solid rgb(210, 150, 150, .4);
  color: rgb(0, 0, 0);
  padding: 1rem .5rem;
  transition: border .2s, background-color .2s;
}

.contact__input:hover{
  border-bottom: 1px solid rgb(210, 200, 200);
}

/* .contact__input::placeholder{
  transition: opacity 1s; 
} */

.contact__input:focus{
  border-bottom: 1px solid rgb(210, 200, 200);
  transition: 10ms ;
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -16px;
  left: 0;
  /* color: rgb(99, 99, 99); */
  color: rgb(95, 45, 20);
  font-size: var(--size-sm);
  background-color: white;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 1;
}

.contact__form .contact__area{
  height: 8rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1rem;
}

/* .contact__button-container{
  margin-top: -4.5rem;
} */

.contact__button{
  color: rgb(239, 169, 135);

  border: 1px solid rgb(245, 191, 164);
  border-radius: 2px;
  letter-spacing: 5px;
  padding: 0.5em .7em 0.5em 1em;
  font-size: 14px;
  font-weight: 100;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid transparent; */
  display: flex;
  margin: 0 auto ;
  cursor: pointer;
  position: relative;
  top: -4.5rem;
}

.contact__button:hover{
  cursor: pointer;
  opacity: .9;
  background-color: rgb(240, 200, 180);
  color: white;
} 


.contact__button:hover::after{
  opacity: 1;
}



.contact__input::placeholder{
  opacity: 0;
}

/* Hide placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

/* Move Label after typing*/
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  opacity: 1;
  top: -16px
}

.contact__message{
  color: black;
  font-size: .9rem;
  position: absolute;
  bottom: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

