.footer{
  max-width: 1524px;
  background-color: rgb(240, 200, 180, .1);
  height: 200px;
  position: relative;
}

.footer__container ul li{
  text-decoration: none;
  list-style: none;
  color: rgb(95, 45, 20, .7);
  font-size: 16px;
  line-height: 2.5rem;
  letter-spacing: 1.25px;
  cursor: pointer;
}

.footer__container a{
  color: rgb(95, 45, 20, .6);
}

.footer__container ul li a:hover{
color: rgb(235, 155, 115);
}

.footer__container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px dotted red; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer__middle {
  /* text-align: center; */
  /* border: 2px dotted red; */
  text-align: left;
}

.gg__name{
  /* font-family: Custom;
  font-size: 4.5rem; */
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  font-size: 2.5rem;
  text-align: center;
  /* border: 2px dotted black; */
  position: relative;
  text-transform: uppercase;
}

.gg__events{
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 100;
  letter-spacing: 24px;
  font-size: 10px;
  text-align: center;
  /* border: 2px dotted black; */
  position: relative;
  left: 13px;
  display: none;
}

.copyright{
  max-width: 1524px;
  background-color: rgb(240, 200, 180, .1);
  margin-top: 4rem;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  padding: 1rem 0;
  letter-spacing: 3px;
  font-size: 8px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', sans-serif;
}