.footer{
  max-width: 2224px;
  background-color: rgb(240, 200, 180, .1);
  height: 100px;
  margin-top: 4rem;
  position: relative;
}

.footer__credit{
  font-size: 5px;
}

.copyright{
  max-width: 2524px;
  background-color: rgb(240, 200, 180, .1);
  position: relative;
}

.footer__copyright{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  /* width: 95%; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 8px; */
  padding: 1.5rem 0;
  letter-spacing: 1.5px;
  font-size: 6.25px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', sans-serif;
}

.footer__back{
  font-family: Camron;
  position: absolute;
  bottom: .35rem;
  right: .35rem;
  font-size: 6px;
  font-weight: 900;
  cursor: pointer;
}

.footer__back::after{
  content: '^';
  /* font-family: Camron; */
  position: absolute;
  bottom: .5rem;
  right: 1.65rem;
  font-size: 8px;
  font-weight: 100;
}

.footer__back:hover{
  opacity: .95;
  color: rgb(129, 113, 98);
}

.footer__back a{
  text-decoration: none;
  color: inherit;
}

/* xs */
@media (min-width: 325px) {
  .footer__copyright{
    font-size: 6.5px;
    width: 95%;
    letter-spacing: 1.75px;
  }
}

/* xs */
@media (min-width: 475px) {
  .footer__copyright{
    font-size: 8.5px;
    width: 90%;
  }

  .footer__credit{
    font-size: 6.5px;
  }

  .footer__back{
    font-family: Camron;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 8px;
    font-weight: 900;
  }
  
  .footer__back::after{
    content: '^';
    /* font-family: Camron; */
    position: absolute;
    bottom: .75rem;
    right: 2rem;
    font-size: 12px;
    font-weight: 900;
  }
}

/* sm */
@media (min-width: 640px) {
  .footer__copyright{
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    font-size: 8.5px;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

