ul li a{
  text-decoration: none;
  list-style: none;
  color: rgb(70, 70, 70);
}

ul li a:hover{
  color: rgb(210, 150, 150);
}

ul li a.active{
  color: rgb(210, 150, 150);
}

.header__menu{
  display: flex;
  gap: 1.5rem;
  list-style: none;
  text-decoration: none;
  font-size:var(--size-xs) ;
}

.header__menu-logo{
  display: flex;
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  padding: .75rem 1rem;
  background:rgb(255, 255, 255);
  z-index: 10;
}