ul li a{
  text-decoration: none;
  list-style: none;
  /* color: rgba(56, 55, 55, .9); */
  color: rgb(95, 45, 20, .8);
  font-size: 16px;
  letter-spacing: 1.25px;
}

ul li a:hover{
opacity: .5;
color: aliceblue;
}

/* ul li a:active{
  opacity: .9;
} */

ul li a.active{
  color: white;
}


.header__menu{
  display: flex;
  right: 0;
  top: 0;
  flex-direction: column; 
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.header__menu-logo{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: Custom;
}

.header__logo:hover{
  color: inherit;
}

.header__logo{
  /* font-size: 1.5rem; */
  font-size: 1.7em;
  font-weight: 600;
  color: rgb(95, 45, 20);
  letter-spacing: 9px;
}

.header__logo::after{
  content: '';
  border: 1px solid rgb(95, 45, 20, .3);
  left: -2.2rem;
  position: relative;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 10;
  padding: 1rem 2rem;
  /* background-color: rgba(142, 196, 135, 0.1); */
}


.hamburger__btn{
  width: 30px;
  fill: rgb(95, 45, 20);
  border-radius: 2px;
  border: none;
  position: relative;
  top: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.hamburger__btn.close{
  top: 0;
  left: 2px;
  fill: white;
  /* transition: 3s; */
}

.middle{
  opacity: 0;
}

.hamburger__btn.close .top{
  transform: rotate(45deg) translate(10px, -14px);
}

.hamburger__btn.close .middle{
  opacity: 0;
}

.hamburger__btn.close .bottom{
  transform: rotate(-45deg) translate(-75px, 14px);
}

#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  
}


#navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  right: -270px;
  height: 100vh;
  width: 270px;
  background-color: white;
  padding: 80px 0 0 20px;
  transition: .5s ease-in;
}

#navbar.active{
  right: 0;
  transition: .5s ease-in-out;
  background-color: rgb(240, 200, 180);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

}

/* Lg */
@media (min-width: 1024px) {}


/* xL */
@media (min-width: 1288px) {

}

/* 2xL */
@media (min-width: 1536px) {

}  


