.scroll__btn{
  fill: white;
  
}

.scroll__logo{
  color: white;
  display: none;
}

.scroll__logo:hover{
  color: white;
}

.scroll__logo::after{
  border: 1px solid rgba(255, 255, 255, .8);
}

.header.scrolled #nav{
  background-color: rgba(255, 255, 255, 0.5);
}

.header.scrolled .scroll__logo,
.header.scrolled .scroll__btn{
  /* color: rgb(95, 45, 20, .8);
  fill: rgb(95, 45, 20); */
  color: rgb(0, 0, 0);
  fill: black;
  display: block;
}

.header.scrolled .scroll__logo::after{
  border: 1px solid rgb(95, 45, 20, .3);
}

.header.scrolled .hamburger__btn.close{
  fill: black;
}


.home__banner{
  height: 94vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home__title{
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 10%;
  cursor: default;
  /* transform: translateY(-50%); */
}

.title__logo{
  color: white;
  font-family: DREAM;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.title__botlogo{
  color: white;
  font-family: Dream;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.title__sub-logo{
  color: white;
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: .55rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.title__span{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  font-size: 2rem;
  color: white;
  bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-family: SeaLight;
}

.home__title-button{
  border: none;
  color: initial;
}

.dash{
  font-family: Dream;
  font-style: normal;
  font-weight: 100;
  position: relative;
  /* bottom: 5px; */
}

.home__banner-text{
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 4px;
  font-family: "Poppins", serif;
  font-style: normal;
  min-width: 260px ;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  bottom: .75rem;
  left: 1rem;
}

.slide{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover;
  background-position: center; */
  object-fit: cover;
  z-index: 8;
  /* display: none; */
  opacity: 0;
  transition: .8s;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: contrast(95%);
}

.sl2{
  object-position: 60% 65%;
}

.sl3{
  object-position: 50% 20%;
}

.sl4{
  object-position: 50% 65%;
}

.sl5{
  object-position: 50% 0%;
}

.sl6{
  object-position: 50% 70%;
}
/* 
.sl7{
  object-position: 50% 0%;
} */

.slide.active{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  z-index: 8;
  display: flex;
  opacity: 1;
  /* transition: ease 1s; */
}

.home__sub-title{
  margin-bottom: 2.5rem;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;
  /* padding: 5rem 0 2rem 0; */
  text-align: center;
  font-family: Dream;
  text-transform: uppercase;
}

.home__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.home__text-title{
  font-family: Dream;
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-weight: 100;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.home__text-p{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0 1.5rem;
}


.home__intro-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 5rem 0rem 5rem;
}

.home__intro-gallery{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 360px;
  padding: 0 1rem;
}

.home__sub-div{
  position: relative;
  background-color: #efebe7;
  padding: 2rem 0rem;
}

.home__value{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem .75rem;
}

.home__value-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__value-title{
  font-family: Dream;
  font-size: 1.4rem;
  font-weight: 300;
}

.home__sub-description{
  text-align: center;
  /* width: 320px; */
} 

.sub-text{
  /* width: 320px; */
  text-align: center;
}

.home__intro-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}


.home__test{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 2rem 2rem; */
}

 .home__test-div{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column-reverse;
  max-width: 360px;
  padding: 0 1rem;
  gap: 1rem;
}

.home__test-img{
  /* width: 270px; */
  /* flex: .5; */
  position: relative;
  right: 0;
}

.tesst{
  flex: .5;
  background-color: #efebe7;
}

.home__test-text{
  flex: 1.15;
  padding: 2rem 2rem 0;
  line-height: 6rem;
  background-color: #efebe7;
}

.home__test-subtext{
  padding: 0rem 0rem;
}

.home__test-quote{
  letter-spacing: .5px;
  font-family: Dream;
}

.home__phase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.home__phase-title{
  font-family: Dream;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  /* width: 290px; */
  font-weight: 100;
}

.home__phase-text{
  text-align: center;
  padding: 1rem 1.5rem 2rem;
}

.home__phase-text-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1rem;
}

.phase__div{
  background-color: #efebe7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* padding: 1rem; */
  gap: 1rem;
  position: relative;
  height: 20rem;
}

.phase{
  background-color: #efebe7;
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3rem 0 5rem;
  gap: 1rem;
}

.phase.phase-active{
  display: flex;
}

.phase__title{
  font-family: "Poppins", serif;
  font-style: normal;
  letter-spacing: 5px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.phase__subtitle{
  font-family: "Poppins", serif;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 2px;
  font-size: 12px;
  padding-bottom: 16px;
  font-weight: 400;
}

.phase__dots{
  position: absolute;
  bottom: 1.5rem;
  z-index: 2;
  cursor: default;
}

.phase__dots span{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #dfd9b6;
  cursor: pointer;
}

.phase__dots span:hover{
  background-color: white;
}

.home__services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem 5rem;
}

.home__services-img{
  flex: 1;
  position: relative;
  bottom: 2rem;
  max-width: 360px;
  padding: 0 1rem;
}

.home__services-title{
  font-family: Dream;
  font-size: 2.25rem;
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 12.5%;
  width: 150px;
  font-weight: 100;
}

.home__services-midtitle{
  font-family: Dream;
  font-size: 2.5rem;
  font-weight: 100;
}

.home__services-text{
  padding: 0 1rem;
}

.home__services-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  /* padding: 2rem 6rem; */
  gap: 1rem;
}

.home__services-button{
  background-color: #dfd9b6;
  border: none;
  border-radius: 1.25rem;
  padding: .75rem 1.5rem;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: SeaRegular;
  font-weight: 100;
}

.home__portfolio{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  position: relative;
  margin: 2rem 0rem 2rem;
  background-color: #efebe7;
  justify-content: space-between;
  align-items: center;
}

.home__portfolio-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.home__portfolio-title{
 font-family: Dream;
 font-size: 2.5rem;
 font-weight: 100;
 padding-bottom: 1rem;
}

.home__portfolio-button{
  background-color: #dfd9b6;
  border: none;
  border-radius: 1.25rem;
  padding: .75rem 1.5rem;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: SeaRegular;
  font-weight: 100;
}


.home__portfolio-modal-img {
  position: absolute;
  max-width: 14rem;
  right: 0rem;
  bottom: 1rem;
  z-index: 1;
  padding: 1rem;
}


.home__portfolio-img {
  max-width: 13rem;
  filter: opacity(.5);
  position: relative;
  padding-top: 5rem;
  left: -3rem;
  /* flex: .5; */
}

.home__faq{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem .75rem 5rem;
  /* padding: 2rem .75rem 4rem; */
  /* height: 20rem; */
}

.faq__title{
  font-family: Dream;
  font-size: 3.5rem;
  font-weight: 100;
  padding-bottom: 2rem;
}

.home__faq-div-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.75rem;
}

.faq__div{
  display: flex;
  flex-direction: column;
  text-align: start;
  flex: 1;
}

.faq__question{
  font-size: 20px;
  letter-spacing: 2px;
  /* font-family: "Poppins", serif; */
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.faq__question:hover{
  color: #dfd9b6;
}

.faq__answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 550ms ease;
  padding-top: 1rem;
  line-height: 1.5rem;
  font-size: 18px;
  text-align: center;
}

.faq__div.faq-active .faq__answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}



@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home__about{
  position: relative;
}

.home__about-div{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 1.5rem;
}

.home__about-img{
  max-width: 360px;
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;
  /* flex: .5; */
}

.home__about-text{
  flex: 1;
  padding: 3rem;
  line-height: 6rem;
  background-color: #efebe7;
}

.home__about-title{
  font-family: Dream;
  font-size: 3.5rem;
  font-weight: 100;
  padding-bottom: 4rem;
 }

.about-dream{
  font-family: Dream;
  font-size: 2.25rem;
  font-weight: 100;
  padding-bottom: 1rem;
 }

.about-p{
  font-family:  "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
 }
 
 .home__about-button{
   background-color: #dfd9b6;
   border: none;
   border-radius: 1.25rem;
   padding: .75rem 1.5rem;
   line-height: 16px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: SeaRegular;
   font-weight: 100;
 }

 .home__planning{
  position: relative;
  /* padding: 0 2rem 2rem; */
}

 .home__planning-div{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 1.5rem;
}

.home__planning-img{
  max-width: 360px;
  padding: 0 1rem;
  /* flex: .5; */
  position: relative;
  right: 0;
  margin: 0 auto;
}

.plann{
  display: none;
  flex: .5;
  background-color: #efebe7;
}

.home__planning-text{
  flex: 2;
  padding: 0.5rem 2rem;
  line-height: 6rem;
  background-color: #efebe7;
}

.home__planning-title{
  font-family: Dream;
  font-size: 3.5rem;
  font-weight: 100;
  padding: 0rem 2.5rem 0;
  position: relative;
  top: 1.5rem;
 }

 .home__planning-button{
   background-color: #dfd9b6;
   border: none;
   border-radius: 1.25rem;
   padding: .75rem 1.5rem;
   line-height: 16px;
   letter-spacing: 1px;
   font-weight: 700;
   font-family: SeaRegular;
   font-weight: 100;
 }


.home__socials{
  position: relative;
  text-align: center;
  padding: 3rem 0;
}

.home__socials-title{
  font-family: Dream;
  font-size: 2.5rem;
  position: absolute;
  top: -.25rem;
  right: 2rem;
  font-weight: 100;
}

.home__socials-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .25rem;
}

.home__socials-div img{
  width: 200px;
}

.home__socials-div img:hover{
  opacity: .65;
}

.extra-social{
  display: none;
}

.swiper {
  height: 20rem;
  margin: 1rem 0
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #efebe7 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  opacity: 1;
  background: #dfd9b6;
}

.swiper-pagination-bullet-active {
  background: white;
}

.phase__swiper{
  flex: 1;
  gap: 1rem;
  position: relative;
  height: 20rem;
  background-color: #efebe7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phase__wrapper{
  height: 21rem;
}

.phase-p{
  height: 10rem;
  padding: 0 1rem;
}


/* mobile */
@media (min-width: 330px) {

  
.home__phase-title{
  font-size: 3rem;
}

.home__services-midtitle{
  font-size: 3rem;
}

.home__portfolio-title{
  font-size: 3rem;
}

}

/* md mobile */
@media (min-width: 400px) {
  
  .title__span{
    font-size: 2.5rem;
  }

  .home__intro-gallery{
    padding: inherit;
  }

  .home__test-div{
    padding: inherit;
  }

  .home__services-img{
    padding: initial;
  }

  .home__about-img{
    padding: inherit;
  }

  .home__planning-img{
    padding: inherit;
  }

  .home__sub-div{
    padding: 2rem .5rem;
  }
}

/* xs */
@media (min-width: 475px) {

  .home__phase-title{
    font-size: 3.5rem;
  }

  .home__services-midtitle{
    /* font-size: 3rem; */
    width: 360px;
  }

  .home__portfolio-modal-img{
    position: absolute;
    max-width: 13rem;
    right: 4rem;
    bottom: 1rem;
    z-index: 1;
    padding: 0;
  }

  
  .phase-p{
    width: 426px;
    height: 10rem;
  }

  .home__phase-text{
    padding: 1rem 3rem 1.5rem;
  }
  
  .home__faq{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 1rem 5rem;
    /* padding: 0 1rem 2rem; */
    /* height: 20rem; */
  }

  .contact__image-container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
  }

  .home__contact-text{
    font-family: Balerno;
    font-size: .9rem;
    padding: .25rem;
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: 8px;
    line-height: 1.6rem;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: black;
    background-color: rgba(247, 247, 247, 0.85);
    border: none;
  }

  .contact__img{
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  
}

@media (min-width: 540px) {
  .home__portfolio-modal-img{
    position: absolute;
    max-width: 13rem;
    right: 7rem;
    z-index: 1;
  }
}

/* sm */
@media (min-width: 640px) {

  .title__logo{
    color: white;
    font-family: DREAM;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .title__botlogo{
    color: white;
    font-family: Dream;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  

  .home__text-p{
    font-size: 21px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1.5rem;
    width: 31rem;
  }

  .home__portfolio-modal-img{
    position: absolute;
    max-width: 13rem;
    right: 9rem;
    z-index: 1;
  }
}

/* md */
@media (min-width: 768px) {

  .home__title{
    top: 8%;
  }

  .title__span{
    font-size: 3rem;
    bottom: 2.5rem;
  }

  .home__intro-container{
    display: flex;
    flex-direction: column;  
    gap: 2rem;
    padding: 5rem 2rem 2rem; 
  } 

  .home__intro-gallery{
    position: relative;
    display: none;
    justify-content: center;
    max-width: inherit;
  }
  
  .home__sub-div{
    position: relative;
    background-color: #efebe7;
    padding: 4rem 2rem 8rem;
  }

  .sub-text{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    width: 380px;
    /* max-width: 783px; */
  }  
  
  .home__sub-description{
    text-align: center;
    padding: 0rem 1rem 0rem 2rem;
    width: 316px;
    /* max-width: 783px; */
  } 

  .home__intro-div{
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    justify-content: normal;
    gap: 0;
  }

  .home__value{
   padding: initial;
  }

  .home__value-group{
   flex-direction: row;
   gap: 1rem;
   justify-content: space-around;
  }

  /* .home__sub-title{
    padding: 5rem 0 4rem 0;
  } */

  .home__test-div{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    max-width: inherit;
    gap: 0;
  }

  .home__test-img{
    width: 270px;
    /* flex: .5; */
    position: absolute;
    right: 0;
  }

  .home__test-text{
    flex: 1.15;
    padding: 3.5rem 2rem 2rem;
    line-height: 6rem;
    background-color: #efebe7;
  }
  
  .home__test-subtext{
    padding: 0rem 6rem;
  }

  .home__test{
    flex-direction: row;
    gap: 0rem;
  }

  .home__phase{
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .phase-p{
    width: 320px;
    /* height: inherit; */
  }

  .home__phase-text{
    padding: 1rem 2rem;
  }

  .phase{
    padding: 1rem;
  }

  .phase__div{
    height: 32rem;
  }

  .home__services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
  }
  
  .home__services-img{
    width: 360px;
    flex: 1;
    position: relative;
    bottom: 2rem;
  }

  .home__services-midtitle{
    font-size: 2.5rem;
    width: inherit;
  }
    
  .home__services-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: initial;
    padding: 0rem 0rem;
    gap: 1rem;
  }

  .home__portfolio{
    display: flex;
    position: relative;
    margin: 0 2rem 2rem;
    background-color: #efebe7;
    justify-content: space-between;
    align-items: center;
  }

  .home__portfolio-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    position: relative;
    right: 0rem;
  }

  .home__portfolio-modal-img{
    position: absolute;
    max-width: 15rem;
    right: -11rem;
  }

  .home__portfolio-title{
    font-size: 3rem;
  }

  .home__portfolio-img{
    max-width: 20rem;
    filter: opacity(.5);
  }

  
  .home__portfolio{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 0;
    margin: 0 2rem 2rem;
    background-color: #efebe7;
    justify-content: space-between;
    align-items: center;
  }

  

  .home__portfolio-img{
    max-width: 15rem;
    filter: opacity(.5);
    padding-top: 0;
    left: inherit;
    /* flex: .5; */
  }

  .home__portfolio-modal-img{
    position: absolute;
    max-width: 11rem;
    right: -4rem;
    bottom: inherit;
    z-index: 20;
    padding: 0;
  }

  .home__faq{
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem 2rem 2rem;
  }

  .home__faq-div-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.75rem;
  }
  
  .faq__div{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
  }

  
.faq__answer{
  text-align: left;
}
  
  .home__about{
    position: relative;
    padding: 0 2rem 1rem;
  }

  .home__about-img{
    max-width: 400px;
    width: initial;
    padding: inherit;
    position: relative;
    margin: initial;
    /* flex: .5; */
  }
    
  

  .home__about-div{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #efebe7;
    margin-bottom: 2rem;
  }
  
 .home__planning-div{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
  gap: 0;
}


.home__planning-img{
  width: 250px;
  /* flex: .5; */
  position: absolute;
  right: 0;
  margin: initial;
}

.plann{
  flex: .5;
  display: block;
  background-color: #efebe7;
}

.home__socials-div{
  justify-content: space-evenly;
  gap: 1rem;
}

.phase__swiper{
  height: 30rem;
}

}

/* Lg */
@media (min-width: 1024px) {

  .home__intro-gallery{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: inherit;
    flex: 1;
  }

  .home__intro-div{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    justify-content: inherit;
    gap: 0;
  }

  .home__sub-div{
    flex: 1.25;
    padding: 4rem 0rem 8rem;
  }

  .home__sub-description{
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
    width: 300px;
    /* max-width: 783px; */
  } 

  .home__value-group{
    flex-direction: row;
    gap: 0rem;
    justify-content: space-around;
   }

  .home__test-subtext {
  padding: 2rem 6rem;
  position: relative;
  right: 10rem;
}

  .home__test-quote {
  position: relative;
  right: 10rem;
}

  .home__test-img{
    width: inherit;
    max-width: 280px;
  }

  .home__test-text{
    flex: 2.15;
    padding: 3.5rem 10rem 2rem;
    line-height: 6rem;
    background-color: #efebe7;
  }

  .tesst{
   display: none;
  }

  .phase__div{
    height: 26rem;
  }
  
  .home__phase-text{
    padding: 1rem 2rem;
  }

  .phase-p{
    width: 380px;
  }  

  .home__services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem 0;
  }

  .home__services-midtitle{
    font-size: 2.5rem;
    width: 320px;
  }
  
  .home__services-img{
    width: inherit;
    max-width: 520px;
    flex: 1;
    position: relative;
    bottom: 2rem;
  }
    
  .home__services-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: initial;
    padding: 2rem 3rem;
    gap: 2rem;
  }

  .home__services-text{
    padding: 0 2rem;
  }

  .home__planning-text{
    flex: 5;
    padding: 0rem 2rem;
    line-height: 6rem;
    background-color: #efebe7;
  }

  .home__portfolio-title{
    font-size: 3.5rem;
  }

  .home__portfolio-div{
    right: 4rem;
  }

  .home__portfolio-modal-img{
    max-width: 18rem;
    right: -13rem;
  }

  .home__portfolio-img{
    max-width: 25rem;
  }

  .home__planning-img{
    width: 290px;
  }

  .home__socials-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .75rem;
  }
  
  .home__socials-div img{
    width: 220px;
  }

  .extra-social{
    display: block;
  }
  
  .phase__swiper{
    height: 26rem;
  }

}

/* xL */
@media (min-width: 1288px) {

  .home__intro-gallery {
    position: relative;
    display: flex;
    justify-content: center;
    /* max-width: 759px; */
    flex: 1;
}

  .home__sub-div{
    flex: 1.25;
    position: relative;
    background-color: #efebe7;
    padding: 4rem 4rem 8rem;
  }

  .home__sub-description{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    width: 320px;
  } 

  .home__value-group{
    flex-direction: row;
    gap: 2rem;
   }

  .home__title{
    top: 5%;
  }

  .home__test-img{
    max-width: 290px;
    position: absolute;
  }

  .home__test-text{
    flex: 4;
    padding: 3.5rem 15rem 2rem;
  }

  .phase__div{
    padding: 6rem 1rem;
    height: 22.5rem;
  }
  
  .home__portfolio-div{
    right: 6rem;
  }

  .home__portfolio-modal-img{
    max-width: 20rem;
    right: -13rem;
  }

  .home__portfolio-img{
    max-width: 26rem;
  }
  
  .home__planning-img{
    width: 300px;
  }
  
  .home__socials-div img{
    width: 200px;
  }
  
}

/* 2xL */
@media (min-width: 1536px) {

  .home__sub-div{
    padding: 4rem 8rem 8rem;
  }

  .home__test-img{
    max-width: 320px;
    position: absolute;
  }

  .home__test-text{
    flex: 4;
    padding: 3.5rem 28rem 2rem;
  }

  .home__portfolio-div{
    right: 9rem;
  }

  .home__portfolio-modal-img{
    max-width: 23rem;
    right: -13rem;
  }

  .home__portfolio-img{
    max-width: 30rem;
  }
  
  .home__planning-img{
    width: 320px;
  }

  .home__socials-div img{
    width: 220px;
  }
  
}  

/* 3xL */
@media (min-width: 1700px) {
  .home__sub-div{
    padding: 4rem 10.5rem 8rem;
  }

  .home__sub-description{
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    width: 420px;
  } 

}

/* 4xL */
@media (min-width: 1900px) {
  .home__sub-div{
    padding: 4rem 16rem 8rem;
  }

}

