.services{
  max-width: 1224px;
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.services__title{
  margin-bottom: 2rem;
  color: rgb(95, 45, 20, .8);
  text-align: center;
  font-family: Custom;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.services__sub-title{
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 100;
}

.services__sub-text{
  font-family: Balerno;
  font-size: 1.65rem;
  margin-bottom: .8rem;
  font-weight: 100;
  opacity: .5;
}

/* .services__sub-desscription{
  font-weight: 600;
} */

h2{
  font-family: Balerno;
  font-weight: 100;
  letter-spacing: 8px;
}

h4{
  margin-bottom: 1rem;
  opacity: .5;
  font-weight: 300;
  font-size: 1.3rem;
}

.r1 p,
.r4 p,
.r5 p{
  font-family: Balerno;
}

.row1,
.row2,
.row3{
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
  justify-content: space-around;
}

.r2,
.r3,
.r6{
width: 440px;
position: relative;
}


.services__shadow{
  position: absolute;
  left: 4.5rem;  
  bottom: -2rem;
  width: 100%;
  /* Desktop */
  height: 22.8rem; 
  /* Mobile  */
  /* height: 20rem;  */
  background-color: rgba(249, 225, 190, 0.75);

  z-index: -4;
  border-radius: 2px;
}

.services__shadow2{
  position: absolute;
  left: -5rem;
  bottom: -2rem;
  width: 100%;
  /* Desktop */
  height: 22.8rem; 
  /* Mobile  */
  /* height: 20rem;  */
  /* background-color: rgba(255, 30, 0, 0.2); */
  /* background-color: rgba(240, 246, 236, 0.8); */
  background-color: rgba(241, 132, 81, 0.2);

  z-index: -4;
  border-radius:2px;
}



.services__shadow3{
  position: absolute;
  left: 4.5rem;
  bottom: -2rem;
  width:100%;
  /* Desktop */
  height: 22.8rem; 
  /* Mobile  */
  /* height: 20rem;  */
  /* background-color: rgba(255, 30, 0, 0.2); */
  background-color: rgb(232, 245, 222, .5);
  z-index: -4;
  border-radius: 2px;
}

.r1{
  /* background-color: rgb(247, 236, 231, .5); */
  width: 240px;
  height: 300px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  border: 1px solid rgba(241, 132, 81, 0.2);
  
}

.r4{
  /* background-color: rgba(223, 236, 238, 0.5); */
  width: 240px;
  height: 300px;
  padding: 1.5rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */
  border: 1px solid rgba(241, 132, 81, 0.2);

} 

.r5{
  /* background-color: rgba(230, 230, 230, 0.5); */
  width: 240px;
  height: 300px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: left; */
  border: 1px solid rgba(241, 132, 81, 0.2);

}

.r2 h2{
  transform-origin: top right;
  transform: rotate(-90deg) translateX(48.5%) translateY(-200%);
  top: 50%;
  bottom: 0;
  right: 0;
  color: rgb(222, 133, 92);
  opacity: .3;
  font-weight: 700;
  letter-spacing: 1.15rem;
  position: absolute;
  /* border: 2px dotted blue; */
  height: fit-content;
}

.r3 h2{
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-145%) translateY(125%);
  top: 50%;
  bottom: 0;
  left: 0;
  color: rgb(245, 208, 152);
  opacity: 1;
  font-weight: 700;
  letter-spacing: 2rem;
  /* position: relative; */
  /* border: 3px dotted blue; */
  width: 10rem;
}

.r6 h2{
  transform-origin: top right;
  transform: rotate(-90deg) translateX(50%) translateY(-200%);
  top: 50%;
  bottom: 0;
  right: 0;
  color: rgb(75, 148, 33);
  opacity: .2;
  font-weight: 900;
  letter-spacing: 1.15rem;
  font-weight: 700;
  position: absolute;
  /* border: 2px dotted blue; */
  height: fit-content;
}

.services__image{
  border-radius: 2px;
  width: 100%;
  height: 100%;
}



.services__image2{
  border-radius: 2px;
  width: 100%;
  height: 100%;
}