.services{
  max-width: 1224px;
  width: 80%;
  margin: auto;
  padding: 4rem 0;
}

.services__title{
  margin-bottom: 2rem;
  color: rgb(95, 45, 20, .8);
  text-align: center;
  font-family: Custom;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.services__sub-title{
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 100;
}

.services__sub-text{
  font-family: Balerno;
  font-size: 1.65rem;
  margin-bottom: .8rem;
  font-weight: 100;
  opacity: .5;
}

/* .services__sub-desscription{
  font-weight: 600;
} */

h2{
  font-family: Balerno;
  font-weight: 100;
  letter-spacing: 8px;
}

.row1,
.row2,
.row3{
  display: flex;
  margin-bottom: 4rem;
  /* justify-content: space-between; */
}

.r2,
.r3,
.r6{
width: 600px;
position: relative;
}


.services__shadow{
  position: absolute;
  left: -7rem;
  bottom: -2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 132, 81, 0.2);
  z-index: -4;
  border-radius: 2px;
}

.services__shadow2{
  position: absolute;
  left: 7rem;
  bottom: -2rem;
  width: 100%;
  /* Desktop */
  /* height: 24.8rem;  */
  /* Mobile  */
  height: 22.8rem; 
  /* background-color: rgba(255, 30, 0, 0.2); */
  /* background-color: rgba(240, 246, 236, 0.8); */
  background-color: rgba(249, 225, 190, 0.75);
  z-index: -4;
  border-radius:2px;
}



.services__shadow3{
  position: absolute;
  left: -7rem;
  bottom: 2rem;
  width:100%;
  height: 100%;
  /* background-color: rgba(255, 30, 0, 0.2); */
  background-color: rgba(240, 246, 236, .5);
  z-index: -4;
  border-radius: 2px;
}

.r1{
  /* background-color: rgb(247, 236, 231, .5); */
  width: 600px;
  height: 300px;
  padding: 2rem;
  text-align: center; 
  justify-content: center;
  align-items: center; 
  /* margin: 3rem auto; */
  border: 2px dotted red;
  position: relative;
}

.r4{
  /* background-color: rgba(223, 236, 238, 0.5); */
  width: 600px;
  height: 300px;
  padding: 2rem;
  text-align: center; 
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  /* margin: 3rem auto; */
  border: 2px dotted red;
} 

.r5{
  /* background-color: rgba(230, 230, 230, 0.5); */
  width: 600px;
  height: 300px;
  padding: 2rem;
  text-align: center; 
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  /* margin: 3rem auto; */
  border: 2px dotted red;
}

.r1 h2{
  top: 5rem;
  color: rgb(198, 149, 126);
  opacity: .2;
  font-weight: 300;
  letter-spacing: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.r4 h2{
  display: flex;
  position: relative;
  color: rgba(249, 225, 190);
  opacity: 1;
  font-weight: 700;
  letter-spacing: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.r5 h2{
  top: 5rem;
  color: rgb(75, 148, 33);
  opacity: .1;
  font-weight: 700;
  letter-spacing: 1.5rem;
  top: 5rem;
  font-weight: 700;
  letter-spacing: 16px;
}

.services__image{
  border-radius: 2px;
  width: 100%;
  height: 100%;
}



.services__image2{
  border-radius: 2px;
  width: 100%;
  height: 100%;
}