.work{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.work__title{
  margin-bottom: 2rem;
}

.work__gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__photo{
  cursor: pointer;
}

.work__photo img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}




/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .work{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }
  
  .work__title{
    margin-bottom: 2rem;
  }
  
  .work__gallery{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .work__column{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .work__photo img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
}

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

