.work{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 2.5rem 0;
}

.work__title{
  margin-bottom: 2rem;
  color: rgb(70, 70, 70);
  text-align: center;
}

.work__gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__photo{
  cursor: pointer;
}

.work__photo img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.image__wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.image__wrapper img{
  width: 90%;
  max-width: 500px;
}


.image__wrapper span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}





/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .work{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
  }
  
  .work__title{
    margin-bottom: 2rem;
  }
  
  .work__gallery{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .work__column{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .work__photo img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
}

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

