.scroll__btn{
  fill: rgb(0, 0, 0);
}

.scroll__logo{
  color: rgba(0, 0, 0, 0.8);
}

.scroll__logo:hover{
  color: rgba(0, 0, 0, 0.8);
}

.scroll__logo::after{
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header.scrolled #nav{
  background-color: rgba(255, 255, 255, 0.75);
}

.header.scrolled .scroll__logo,
.header.scrolled .scroll__btn{
  color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

.header.scrolled .scroll__logo::after{
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.header.scrolled .hamburger__btn.close{
  fill: white;
}


.work{
  max-width: 2624px;
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.work__title{
  margin-bottom: 7rem;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.work__gallery{
  margin-top: 4rem;
}

/* .work__gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work__column{
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.work__column{
  position: relative;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
  gap: 8px;
}

.work__photo{
  /* cursor: pointer; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sat{
  filter: saturate(.75);
}

.work__photo:nth-child(2){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(3){
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.work__photo:nth-child(4){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(5){
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.work__photo:nth-child(6){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(7){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(8){
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.work__photo:nth-child(9){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(10){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(11){
  grid-column-start: span 1;
  grid-row-start: span 1;
}



.work__photo:nth-child(12){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(13){
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.work__photo:nth-child(14){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(15){
  grid-column-start: span 2;
  grid-row-start: span 3;
}
.work__photo:nth-child(16){
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.work__photo:nth-child(17){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(18){
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.work__photo:nth-child(19){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(20){
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.work__photo:nth-child(21){
  grid-column-start: span 1;
  grid-row-start: span 1;
}






.work__photo img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.image__wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.image__wrapper img{
  width: 90%;
  max-width: 500px;
}


.image__wrapper span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}





/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  
.work{
  max-width: 2624px;
  width: 84%;
  margin: auto;
  padding: 4rem 0;
}
}

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */

