.container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.section {
/* margin-top: 3rem; */
}

/* Mobile */
@media (min-width: 325px) {
  .container {
    max-width: 325px;
  }
 }


/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
 }

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xL */
@media (min-width: 1288px) {
  .container {
    max-width: 1288px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}  